{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "lf",
  "printWidth": 100,
  "singleAttributePerLine": true,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-organize-imports",
    "prettier-plugin-multiline-arrays",
    "prettier-plugin-tailwindcss"
  ],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    },
    {
      "files": [
        "**/*.yaml"
      ],
      "options": {
        "tabWidth": 4
      }
    },
    {
      "files": "*.json",
      "options": {
        "multilineArraysWrapThreshold": 0
      }
    }
  ]
}
